html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
     url(../images/hero.jpg);
   
    background-position: center;
    background-size: cover;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 20%; height: 20%;
    margin-top: 24px;
}

.main-nav{
    list-style: none;
    display: flex;
    margin-top: 30px;
    
}
.main-nav li{
padding-left: 20px;
}
.main-nav li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.main-nav li a:hover{
    text-decoration: underline;
    color: orange;
    text-transform: uppercase;
}
.hero{
    position: absolute;
    top: 40%;
    left: 20%;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: white;
}
.btn{
    border: solid 2px orange;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    color: orange;
    text-decoration: none;
}
.btn:hover{
    color: aliceblue;
    background-color: orange;
}
section{
    padding: 40px 0px;
}
h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
hr{
    width: 150px;
    color: orange;
    border: solid 2px orange;
}
.feat-disk{
    text-align: center;
}
.box i{
    font-size: 35px;
    color: orange;
}
#meals{
    padding: 0px;
}
.meal{
margin-bottom: -5px;
background-color: black;
}
.meal img{
    width: 100%;
    opacity: .4;
    transition: 2s;
}

.meal img:hover{
    opacity: 1;
}
.l-work{
  text-align: right;
  margin-top: 30px;
}
.l-work img{
    width: 30%;
}
.step{
display: flex;
margin-bottom: 30px;
}
.step div{
    padding: 13px;
    border: solid 2px orange;
    border-radius: 30px;
    margin-right: 20px;
}
.r-work{
    margin-top: 100px;
}
.dowen img{
    height: 50px;
}
.city img{
    width: 100%;
}
.info{
    margin-bottom: 10px;
}
.info i{
    color: orange;
    margin-right: 15px;
}
#review{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(17, 3, 3, 0.7)),
    url(../images/back-customers.jpg);
  color: white;
   background-position: center;
   background-size: cover;
    background-attachment: fixed;
    font-size: 40px;
}
#review i{
    font-size: 50px;
}
#review img{
width: 60px;
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
#contact form{
    margin-top: 50px;
}

input{
    
        width: 100%;
      margin-bottom: 20px;
        padding: 10px;
        border: solid 1px #ddd;
    
}

select,textarea{
    width: 100%;
  margin-bottom: 20px;
    padding: 10px;
    border: solid 1px #ddd;
}
button{
    background-color: orange;
    border: solid 2px orangered;
    color: white;
 border-radius: 50px;
    padding: 10px 20px;
}
button:hover{
    background-color: white;
    border: solid 2px orangered;
    color: brown;
 
}
span{
    font-size: 40px;
    font-style: italic;
    color: orange;
}
.prise{
   background-color: rgb(243, 236, 236);
}
.back{
    background-color: white;
}
.prise i{
    color: orange;
    margin-right: 4px;
}
footer{
    padding: 30px 0px;
    background-color: #333;
    color: white;
    text-align: center;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.footer-nav{
    list-style: none;
    display: flex;
    margin-top: 30px;
    
}
.footer-nav li{
padding-left: 20px;
}
.footer-nav li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.footer-nav li a:hover{
    text-decoration: underline;
    color: orange;
    text-transform: uppercase;
}
.social-nav{
    list-style: none;
    display: flex;
    margin-top: 30px;
    float: right;
    
}
.social-nav li{
padding-left: 20px;
}
.social-nav li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.social-nav li a:hover{
    text-decoration: underline;
    color: orange;
    text-transform: uppercase;
}